<div id="filler"></div>

<section id="brands">
        <div id="content-holder" class="grid">
                <div class="content-wrap1">
                        <img src="/assets/images/ring-logo.png" alt="ring" id="brands-logos">
                </div>
                <div class="content-wrap2">
                        <img src="/assets/images/nanoleaf-logo.png" alt="nanoleaf" id="brands-logos">
                </div>
                <div class="content-wrap3">
                        <img src="/assets/images/canary-logo.png" alt="canary" id="brands-logos">
                </div>
                <div class="content-wrap4">
                        <img src="/assets/images/wink-logo.png" alt="wink" id="brands-logos">
                </div>
                <div class="content-wrap5">
                        <img src="/assets/images/hue-logo.png" alt="hue" id="brands-logos">
                </div>
                <div class="content-wrap6">
                        <img src="/assets/images/honeywell-logo.png" alt="honeywell" id="brands-logos">
                </div>
                <div class="content-wrap7">
                        <img src="/assets/images/homepod-logo.png" alt="homepod" id="brands-logos">
                </div>
                <div class="content-wrap8">
                        <img src="/assets/images/lux-logo.png" alt="lux" id="brands-logos">
                </div>
                <div class="content-wrap9">
                        <img src="/assets/images/vivint-logo.png" alt="vivint" id="brands-logos">
                </div>
                <div class="content-wrap10">
                        <img src="/assets/images/simplisafe-logo.png" alt="simplisafe" id="brands-logos">
                </div>
                <div class="content-wrap11">
                        <img src="/assets/images/nest-logo.png" alt="nest" id="brands-logos">
                </div>
                <div class="content-wrap12">
                        <img src="/assets/images/lifx-logo.png" alt="lifx" id="brands-logos">
                </div>
                <div class="content-wrap13">
                        <img src="/assets/images/amz-echo.png" alt="echo" .class="amz" id="brands-logos">
                </div>
                <div class="content-wrap14">
                        <img src="/assets/images/ghome-logo.png" alt="google" id="brands-logos">
                </div>
                <div class="content-wrap15">
                        <img src="/assets/images/smartthings-logo.png" alt="samsung" id="brands-logos">
                </div>
                <div class="content-wrap16">
                        <img src="/assets/images/tplink-logo.svg" alt="tplink" id="brands-logos">
                </div>
                <div class="content-wrap17">
                        <img src="/assets/images/ecobee-logo.png" alt="ecobee" id="brands-logos">
                </div>
                <div class="content-wrap18">
                        <img src="/assets/images/logitech-logo.png" alt="logitech" id="brands-logos">
                </div>
                <div class="content-wrap19">
                        <img src="/assets/images/aura-logo.png" alt="aura" id="brands-logos">
                </div>
                <div class="content-wrap20">
                        <img src="/assets/images/august-logo.png" alt="august" id="brands-logos">
                </div>
                <div class="content-wrap21">
                        <img src="/assets/images/hive-logo.png" alt="hive" id="brands-logos">
                </div>
                <div class="content-wrap22">
                        <img src="/assets/images/arlo-logo.png" alt="arlo" id="brands-logos">
                </div>
        </div>
</section>

<!-- Brands A -->

<section id="brands-a">
        <div class="overlay"></div>
</section>