<!-- Showcase -->

<header id="showcase" class="grid">
    <div class="parallax">
        <div class="content-wrap">
            <div class="overlay">
                <h1>FULFILL YOUR VISION <br> FOR A SMARTER HOME</h1>
                <a href="/book" class="btn">Get Started</a>
            </div>
        </div>
    </div>
</header>

<!-- Section A -->

<section id="section-a">
    <h1>Smart Home Tech Installations</h1>
    <h5>Smart Home Installations straight to your door</h5>
</section>

<!-- Info Section -->

<section id="info-section" class="grid">
    <div class="content-wrap1" id="icon">
        <img class="info-logo" src="assets/images/network.png">
        <h2>Fully Connected Home</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?
        </h4>
    </div>
    <!-- <div class="content-wrap2" id="icon">
        <img class="info-logo" src="assets/images/diamond.png">
        <h2>Diamond Service</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?
        </h4>
    </div> -->
    <div class="content-wrap3" id="icon">
        <img class="info-logo" src="assets/images/tv.png">
        <h2>Whole Home Entertainment</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?
        </h4>
    </div>
</section>

<!-- Section B -->

<section class="grid" id="section-b">
    <div class="item">
        <div class="content-wrap1">
            <div class="overlay">
                <h1>See Everything</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non</h5>
            </div>
        </div>
    </div>
    <div class="item1">
        <div class="content-wrap2">
            <div class="overlay">
                <h1>Set The Mood</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non</h5>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="content-wrap3">
            <div class="overlay">
                <h1>Secure Your Home</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non</h5>
            </div>
        </div>
    </div>
</section>

<!-- Section C -->

<section id="section-c" class="grid">
    <div class="content-wrap1"></div>
    <div class="content-wrap2">
        <h1>Upgrade Your Home</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
            culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
            Voluptatum ducimus voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non
            quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
            quasi cupiditate. Voluptatum ducimus voluptates voluptas?
        </h5>
    </div>
</section>

<!-- Section D -->

<section id="section-d" class="grid">
    <div class="content-wrap1">
        <h1>Enjoy More Control</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
            culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
            Voluptatum ducimus voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non
            quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
            quasi cupiditate. Voluptatum ducimus voluptates voluptas?
        </h5>
    </div>
    <div class="content-wrap2"></div>
</section>

<!-- Section E -->

<section id="section-e" class="grid">
    <h1>Entertainment, Hands Free</h1>
    <h4>Use your voice to play music on Google Home Mini, listen to audiobooks, or stream shows, movies and more to your
        TV with Chromecast.
    </h4>
    <a href="" class="btn">Learn More</a>
</section>

<!-- Section F -->

<section id="section-f">
    <div class="overlay">
        <h1>INTEGRATE YOUR LIFE INTO YOUR HOME</h1>
        <h4>COMPLETE SMART HOME AUTOMATION DEALER</h4>
    </div>
</section>

<!-- Section G -->
<div class="support">
    <h1>Supported Brands</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
    <a href="/brands" class="view">
        <p>VIEW ALL</p>
    </a>
</div>

<section id="section-g" class="grid">
    <div class="content-wrap1">
        <a class="ring" href="/home">
            <img class="brand-logo" src="assets/images/ring.png">
        </a>
    </div>
    <div class="content-wrap2">
        <div class="content-wrap1">
            <a class="nest" href="/home">
                <img class="brand-logo" src="assets/images/nest-logo.png">
            </a>
        </div>
    </div>
    <div class="content-wrap3">
        <div class="content-wrap1">
            <a class="august" href="/home">
                <img class="brand-logo" src="assets/images/august.png">
            </a>
        </div>
    </div>
    <div class="content-wrap4">
        <div class="content-wrap1">
            <a class="ecobee" href="/home">
                <img class="brand-logo" src="assets/images/ecobee.png">
            </a>
        </div>
    </div>
    <div class="content-wrap5">
        <div class="content-wrap1">
            <a class="canary" href="/home">
                <img class="brand-logo" src="assets/images/canary.png">
            </a>
        </div>
    </div>
</section>