<div id="filler"></div>

<section id="price-a">
    <h1 class="title">Better Prices = Better Service</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil</h3>
    <h2>Smart Lighting</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/philips-hue.png" alt="" id="hue">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$35</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-b">
    <h2>Smart Thermostats</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/ecobee-nest.png" alt="" id="thermostats">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$79</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-c">
    <h2>Smart Assistants</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/echo2.png" alt="" id="echo">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$35</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-d">
    <h2>Home Security</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/simplisafe.png" alt="" id="safe">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$99</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-e">
    <h2>Smart Hub</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/smartthings-hub.png" alt="" id="hub">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$49</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-f">
    <h2>Video Doorbells</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/nest-doorbell.png" alt="" id="doorbell">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$49</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>

<section id="price-g">
    <h2>Smart Cameras</h2>
    <div id="content-wrap1" class="grid">
        <div class="area1">
            <img src="/assets/images/canary-black.png" alt="" id="cam">
        </div>
        <div class="area2">
            <h2>Installation Price:</h2>
            <h1>$69</h1>
        </div>
        <div class="area3">
            <h3>Includes:</h3>
            <h4>Consultation for placement</h4>
            <h4>Installation of smart lights</h4>
            <h4>Setup lights to wifi and smart hub</h4>
            <h4>Configure presets and scenes on app</h4>
            <h4>Connect to wifi assistant</h4>
            <h4>Educate customer on light features</h4>
        </div>
    </div>
</section>