<!-- Showcase 2 -->

<div id="filler"></div>

<header id="showcase2" class="grid">
  <div class="tech-pic">
    <!-- <div class="overlay">
      <h1>OUR SERVICES</h1>
    </div> -->
  </div>
</header>

<!-- Service A -->

<section id="service-a" class="grid">
  <div class="content-wrap1">
      <a class="serve-link" href="#service-b">Smart Lights</a>
  </div>
  <div class="content-wrap2">
      <a class="serve-link" href="#service-c">Thermostats</a>
  </div>
  <div class="content-wrap3">
      <a class="serve-link" href="#service-d">Voice Assistants</a>
  </div>
  <div class="content-wrap4">
    <a class="serve-link" href="#service-e">Home Security</a>
  </div>
  <div class="content-wrap5">
      <a class="serve-link" href="#service-f">Smart Hubs</a>
  </div>
  <div class="content-wrap6">
      <a class="serve-link" href="#service-g">Video Doorbells</a>
  </div>
  <div class="content-wrap7">
      <a class="serve-link" href="#service-h">Smart Cameras</a>
  </div>
</section>

<!-- Service B -->

<section id="service-b" class="grid">
  <div class="content-wrap1">
    <img src="/assets/images/hue-google.jpg" alt="" id="google-lights">
  </div>
  <div class="content-wrap2">
    <h1>Smart Lights</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/lights" class="btn">Learn More</a>
  </div>
</section>

<!-- Service C -->

<section id="service-c" class="grid">
  <div class="content-wrap1">
    <h1>Smart Thermostats</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/thermostats" class="btn">Learn More</a>
  </div>
  <div class="content-wrap2"></div>
</section>

<!-- Service D -->

<section id="service-d" class="grid">
  <div class="content-wrap1"></div>
  <div class="content-wrap2">
    <h1>Voice Assistants</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/voice" class="btn">Learn More</a>
  </div>
</section>

<!-- Service E -->

<section id="service-e" class="grid">
  <div class="content-wrap1">
    <h1>Home Security</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/security" class="btn">Learn More</a>
  </div>
  <div class="content-wrap2"></div>
</section>

<!-- Service F -->

<section id="service-f" class="grid">
  <div class="content-wrap1"></div>
  <div class="content-wrap2">
    <h1>Smart Hubs</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/hubs" class="btn">Learn More</a>
  </div>
</section>

<!-- Service G -->

<section id="service-g" class="grid">
  <div class="content-wrap1">
    <h1>Video Doorbells</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/doorbells" class="btn">Learn More</a>
  </div>
  <div class="content-wrap2"></div>
</section>

<!-- Service H -->

<section id="service-h" class="grid">
  <div class="content-wrap1"></div>
  <div class="content-wrap2">
    <h1>Smart Cameras</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut
      nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates
      voluptas?
    </h4>
    <a href="/cams" class="btn">Learn More</a>
  </div>
</section>