<div id="filler"></div>

<section id="voice-a" class="grid">
    <div class="content-wrap1">
        <img src="/assets/images/voices.png" alt="" id="voice-pic">
    </div>
    <div class="content-wrap2">
        <h1>Voice Assistants</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil
            aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus
            voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
            culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
            Voluptatum ducimus voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non
            quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
            quasi cupiditate. Voluptatum ducimus voluptates voluptas?
        </h4>
        <br>
        <h1>What's Included</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.</li>
            <li>Voluptatum ducimus voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab</li>
        </ul>
        <a href="/book" class="btn">Book Install</a>
    </div>
</section>

<section id="voice-brands" class="grid">
    <div class="content-wrap1">
        <img src="/assets/images/ghome-logo.png" alt="" id="voice-logo">
    </div>
    <div class="content-wrap2">
        <img src="/assets/images/amz-echo.png" alt="" id="voice-logo">
    </div>
    <div class="content-wrap3">
        <img src="/assets/images/homepod-logo.png" alt="" id="voice-logo">
    </div>
</section>